This is the file you use when you want to input tweets into the database from csvs.
running this code will wipe everything you had and put fresh stuff in there.

In [11]:
import os
import pandas as pd
from datetime import datetime

In [12]:
total = 0
data_frames = []
directory_path = './Data/'

In [13]:
date_format = "%Y-%m-%d"

def convert_to_datetime(date_str):
    try:
        return datetime.strptime(date_str, date_format)
    except ValueError as e:
        print(f"Error converting date: {e}")
        return None

In [14]:
for filename in os.listdir(directory_path):
    if filename.endswith(".csv"):
        if filename.startswith('RedTide') or (filename.startswith('ALL_RECENT') and 'RedTide' in filename):
        #if filename.startswith('ALL_RECENT_SEARCH_RedTide_Pinellas.Clearwater_all_SIMPLE_columns'):
            file_path = os.path.join(directory_path, filename)
            data = pd.read_csv(file_path)
    
            total = + len(data)
            labelled_accounts_df = pd.read_csv("Final_Account_Labels_for_Dashboard.csv")
            labelled_accounts_df = labelled_accounts_df[["Label", "username"]]
            labelled_accounts_df.rename(columns={'Label': 'label'}, inplace=True)
            try:
                selected_columns = ['text_with_display_links', 'username', 'created_at.x', 'profile_image_url', 'location','id', 'public_metrics.x_retweet_count', 'public_metrics.x_reply_count', 'public_metrics.x_like_count']
                data = data[selected_columns]
                data.rename(columns={'text_with_display_links':'text','created_at.x': 'time', 'profile_image_url': 'image', 'public_metrics.x_retweet_count':'retweets', 'public_metrics.x_reply_count':'replies', 'public_metrics.x_like_count':'likes'}, inplace=True)
                
                # Extract date part from the 'time' column
                data['time'] = data['time'].str.split(' ').str[0].apply(convert_to_datetime)
                print(data['time'])
 
                # Add a column to check if the tweet is a retweet
                data['is_retweet'] = data['text'].str.startswith('RT')
 
                county_name = "Hillsborough"
                # updating the location column with county name
                if 'Pasco' in filename:
                    data['location'] = 'Pasco'
                    county_name = 'Pasco'
                elif 'Pinellas' in filename:
                    data['location'] = 'Pinellas'
                    county_name = 'Pinellas'
                elif 'Tampa' in filename:
                    data['location'] = 'Hillsborough'
                    county_name = 'Hillsborough'
                elif 'Manatee' in filename:
                    data['location'] = 'Manatee'
                    county_name = 'Manatee'
                elif 'Sarasota' in filename:
                    data['location'] = 'Sarasota'
                    county_name = 'Sarasota'
    
                # TODO: Add an account type column
                data = pd.merge(data, labelled_accounts_df, on='username', how='left')
                data.fillna('No Label', inplace=True)
    
                # Take the top 20000 tweets
                # top_100_tweets = data.head(20000)
                print("HOW MUCH I GOT FROM ", file_path, len(data))
    
                data_frames.append(data)
            except Exception as E:
                print("ISSUE WITH THE FOLLOWING FILE:", filename)
                print(E)

0      2018-01-03
1      2018-01-04
2      2018-01-19
3      2018-03-15
4      2018-03-15
          ...
6151   2022-12-29
6152   2022-12-30
6153   2022-12-30
6154   2022-12-30
6155   2022-12-31
Name: time, Length: 6156, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/RedTide_Manatee_all_SIMPLE_columns.csv 6156

/var/folders/rn/lqtdghhn4t520ncdgvwhvd4c0000gn/T/ipykernel_75453/3028234034.py:6: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

0       2018-01-26
1       2018-02-12
2       2018-02-16
3       2018-03-25
4       2018-04-27
           ...
26304   2022-12-31
26305   2022-12-31
26306   2022-12-31
26307   2022-12-31
26308   2023-01-29
Name: time, Length: 26309, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/RedTide_Tampa_all_SIMPLE_columns.csv 26309
ISSUE WITH THE FOLLOWING FILE: ALL_RECENT_SEARCH_RedTide_Pasco_all_SIMPLE_columns.csv
"None of [Index(['text_with_display_links', 'username', 'created_at.x',\n       'profile_image_url', 'location', 'id', 'public_metrics.x_retweet_count',\n       'public_metrics.x_reply_count', 'public_metrics.x_like_count'],\n      dtype='object')] are in the [columns]"
0    2024-09-05
1    2024-06-23
2    2024-04-28
3    2024-04-25
4    2024-04-08
5    2024-04-08
6    2024-04-08
7    2024-04-08
8    2024-04-08
9    2024-04-08
10   2024-04-08
11   2024-03-26
12   2024-03-20
13   2024-03-01
14   2024-02-28
15   2024-02-07
16   2024-01-11
17   2023-09-25
18   2023-09-19
19   2023-08-21
20   2023-08-21
21   2023-08-06
Name: time, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/ALL_RECENT_SEARCH_RedTide_Pinellas.StPete_all_SIMPLE_columns.csv 22
0    2024-07-11
1    2024-07-11
2    2024-07-10
3    2024-07-10
4    2024-07-10
5    2024-07-10
6    2024-07-10
7    2024-07-10
8    2024-07-10
9    2024-07-10
10   2024-07-10
11   2024-07-10
12   2024-07-10
13   2024-07-10
14   2024-07-10
15   2024-07-10
16   2024-07-10
17   2024-07-10
18   2024-07-10
19   2024-07-10
20   2024-07-10
21   2024-07-10
22   2024-07-09
23   2024-07-09
24   2024-07-09
25   2024-07-09
26   2024-07-09
27   2024-07-09
28   2024-07-09
29   2024-07-09
30   2024-07-09
31   2024-07-09
32   2024-07-09
33   2024-07-09
34   2024-07-09
35   2024-07-09
36   2024-07-09
37   2024-07-09
38   2024-03-04
39   2024-03-03
40   2024-02-10
41   2024-01-30
42   2024-01-29
43   2024-01-29
44   2024-01-29
45   2024-01-29
46   2023-10-20
47   2023-10-19
48   2023-08-25
49   2023-08-24
50   2023-08-24
51   2023-08-21
Name: time, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/ALL_RECENT_SEARCH_RedTide_Manatee_all_SIMPLE_columns.csv 52
0      2018-01-05
1      2018-01-13
2      2018-03-25
3      2018-05-13
4      2018-06-14
          ...
8581   2022-12-21
8582   2022-12-24
8583   2022-12-25
8584   2022-12-25
8585   2022-12-25
Name: time, Length: 8586, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/RedTide_Pinellas.StPete_all_SIMPLE_columns.csv 8586
0     2024-09-25
1     2024-09-24
2     2024-09-24
3     2024-09-19
4     2024-08-25
         ...
469   2023-07-22
470   2023-07-22
471   2023-07-22
472   2023-07-22
473   2023-07-22
Name: time, Length: 474, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/ALL_RECENT_SEARCH_RedTide_Tampa_all_SIMPLE_columns.csv 474
0     2024-09-25
1     2024-09-24
2     2024-09-24
3     2024-09-23
4     2024-09-06
         ...
118   2023-11-16
119   2023-11-15
120   2023-11-15
121   2023-10-26
122   2023-09-23
Name: time, Length: 123, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/ALL_RECENT_SEARCH_RedTide_Pinellas.Clearwater_all_SIMPLE_columns.csv 123
0     2018-08-16
1     2018-08-21
2     2018-08-22
3     2018-08-22
4     2018-08-22
         ...
200   2021-10-08
201   2021-10-08
202   2022-07-07
203   2022-07-07
204   2022-12-28
Name: time, Length: 205, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/RedTide_Pasco_all_SIMPLE_columns.csv 205
0     2024-09-25
1     2024-09-24
2     2024-09-24
3     2024-09-24
4     2024-09-24
         ...
580   2023-07-24
581   2023-07-23
582   2023-07-22
583   2023-07-21
584   2023-07-21
Name: time, Length: 585, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/ALL_RECENT_SEARCH_RedTide_Sarasota_all_SIMPLE_columns.csv 585
0       2018-06-13
1       2018-07-02
2       2018-07-11
3       2018-07-12
4       2018-07-20
           ...
16347   2022-12-28
16348   2022-12-30
16349   2022-12-30
16350   2022-12-30
16351   2022-12-31
Name: time, Length: 16352, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/RedTide_Pinellas.Clearwater_all_SIMPLE_columns.csv 16352
0       2018-01-01
1       2018-01-01
2       2018-01-02
3       2018-01-02
4       2018-01-02
           ...
15947   2022-12-30
15948   2022-12-30
15949   2022-12-31
15950   2022-12-31
15951   2023-03-18
Name: time, Length: 15952, dtype: datetime64[ns]
HOW MUCH I GOT FROM  ./Data/RedTide_Sarasota_all_SIMPLE_columns.csv 15952

In [15]:
big_data_frame = pd.concat(data_frames, ignore_index=True)
# big_data_frame.drop_duplicates(subset='text', keep='first', inplace=True)
big_data_frame.drop_duplicates(subset='id', keep='first', inplace=True)
big_data_frame = big_data_frame.sample(frac=1).reset_index(drop=True)

In [16]:
import pymongo

MONGO_URI = "mongodb+srv://Neffati:y4m4SKKmoIg6riCP@cluster0.h1xa7vw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
connection = pymongo.MongoClient(MONGO_URI)

In [17]:
db = connection.tweets
# db["all_tweets"].drop()    # Cleans out everything

In [18]:
db["all_tweets"].drop()    # Cleans out everything 

all_tweets = db.all_tweets # Makes a new collection 
all_tweets.insert_many(big_data_frame.to_dict('records'))

print("Inserting Done. Successfully Inserted ", len(big_data_frame), "Tweets.")

# output_csv_path = 'big_data.csv'
# big_data_frame.to_csv(output_csv_path, index=False)

Inserting Done. Successfully Inserted  64543 Tweets.

In [19]:
# Convert 'date' column to datetime
big_data_frame['time'] = pd.to_datetime(big_data_frame['time'])

# Find the row with the most recent date
most_recent_row = big_data_frame.loc[big_data_frame['time'].idxmax()]

print("Row with the most recent date:")
print(most_recent_row)

Row with the most recent date:
text          RT @weatherbryan: It's a stew of harmful algae...
username                                             DocClaireP
time                                        2024-09-25 00:00:00
image         https://pbs.twimg.com/profile_images/777689054...
location                                           Hillsborough
id                                          1838741951681585641
retweets                                                      2
replies                                                       0
likes                                                         0
is_retweet                                                 True
label                                                      acad
Name: 46387, dtype: object